@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-background-light: #f8fafc;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light transition-colors duration-200;
  }
}
